---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shevinu's Portfolio Website</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
</style>
