<li id="github" in:fade={{ delay: 400 }}>
            <a href="https://github.com/ShevinuM" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li id="ig" in:fade={{ delay: 500 }}>
            <a href="" target="_blank">
              <i class="fa-solid fa-photo-film"></i>
            </a>
          </li>
          <li id="spotify" in:fade={{ delay: 600 }}>
            <a href="https://open.spotify.com/user/31xnv77agck4a2ff436q6z2kmqam?si=baf56ed41a054fc5" target="_blank">
              <i class="fab fa-spotify"></i>
            </a>
          </li>
          <li id="discord" in:fade={{ delay: 700 }}>
            <a href="#" data-discord="shevshevshev">
              <i class="fab fa-discord"></i>
            </a>
          </li>